@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;1,400&family=Roboto:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.message {
  width: 220px;
}

.message::before,
.message::after {
  content: '';
  border-top: 14px solid #6071be;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
  position: absolute;
  bottom: -18px;
  left: 50%;
}

.message::after {
  border-top: 14px solid #fff;
  bottom: -14px;
  left: calc(50% - 6px);
}

.message:nth-child(odd) {
  margin-left: 2rem;
}

.message:nth-child(even) {
  margin-left: 3rem;
}

.message:nth-child(odd)::before {
  left: 35%;
}

.message:nth-child(odd)::after {
  left: calc(35% - 6px);
}

.message:nth-child(even)::before,
.message.message-score::before {
  left: 65%;
}

.message:nth-child(even)::after,
.message.message-score::after {
  left: calc(65% - 6px);
}

.message:nth-child(1) {
  width: 116px;
}

.message:nth-child(4) {
  width: 260px;
  margin-left: 4px;
}

.message:nth-child(6) {
  width: 172px;
}

.message.message-score {
  width: 170px;
}

/*.message:not(:last-child) div {
  filter: blur(3px);
}*/

.quote p:first-child {
  @apply text-lg mb-4;
}

.quote span {
  @apply block font-serif text-5xl mb-4;
}

.quote p:nth-child(2) {
  @apply leading-tight;
}

.quote small {
  @apply text-sm;
}

.end span {
  @apply block
}

.end span:first-child {
  @apply italic;
}

.end span:last-child {
  @apply font-bold;
}

.slide-up-1 {
  animation: .5s .25s slideup backwards ease-out;
}

.slide-up-2 {
  animation: .5s .5s slideup backwards ease-out;
}

.slide-up-3 {
  animation: .5s .75s slideup backwards ease-out;
}

@keyframes slideup {
  from {
    transform: translate3d(0, 2rem, 0);
    opacity: 0;
  }
}

.qr-reader {
  max-height: -webkit-fill-available;
  overflow: hidden;
}

.qr-reader div {
  height: 250px;
  position: relative;
  padding: 0 !important;
}

.qr-reader div::after {
  content: '';
  border: 5px dashed rgba(255, 255, 255, 1) !important;
  width: 250px !important;
  height: 250px !important;
  margin: auto !important;
  position: absolute;
  left: 50% !important;
  margin-left: -125px !important;
  top: 50% !important;
  margin-top: -125px !important;
}

.qr-reader video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
