@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #000;
  --white: #fff;
}

body {
  color: var(--black);
  background-color: var(--white);
}

.bubble {
  border-radius: 0.25rem;
  box-shadow: 0.5rem 0.5rem 0 #6071be;
  position: relative;
}

.bubble::before,
.bubble::after {
  content: '';
  border-top: 12px solid #6071be;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  position: absolute;
  bottom: -18px;
  left: 50%;
}

.bubble::after {
  border-top: 12px solid #fff;
  bottom: -12px;
  left: calc(50% - 6px);
}
