@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;1,400&family=Roboto:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.message::before,
.message::after {
  content: '';
  border-top: 12px solid #6071be;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  position: absolute;
  bottom: -18px;
  left: 50%;
}

.message::after {
  border-top: 12px solid #fff;
  bottom: -12px;
  left: calc(50% - 6px);
}
